<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <ul>
  <li><a class="active" href="/index">Home</a></li>
  <li><a href="/cookies">Cookies</a></li>
  <li><a href="/cakes">Cakes</a></li>
  <li><a href="/muffin">Muffins</a></li>
  <li><a href="Storest">Stores Near You</a></li>
  <li><a href="#contact">Contact</a></li>
  <p class="name" >BY: Xaiver Thyme</p>
</ul>
    <h1>cookies</h1>
  </body>
</html>
