<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body background="https://wallpapercave.com/wp/ADNUWPo.jpg">

    <ul>
  <li><a class="active" href="/index">Home</a></li>
  <li><a href="/cookies">Cookies</a></li>
  <li><a href="/cakes">Cakes</a></li>
  <li><a href="/muffin">Muffins</a></li>
  <li><a href="/stores">Stores Near You</a></li>
  <p class="name" >BY: Xaiver Thyme</p>
</ul>
    <h1 style="color:white;">Red Velvet Stuffed Cookies</h1>

    <div class="cookies_layout">
      <img src="https://hips.hearstapps.com/hmg-prod/images/inside-out-red-velvet-cookies-horizontal-1549055083.png"style="width:84%; height:450px; padding-left:68px;border-radius:40%;border:8px solid maroon">
      <p style= "font-family:Impact, Charcoal, sans-serif; font-size: 2.0em;margin-right:3px;padding-right:39.339px;padding-top:96px;color:white">This is our Sweedish, French vanilla, red velvet cookie dough filled cookies.</br> We are currently selling 12 cookies for $36.</br>Allergies and vegan options are also available for an extra $30.</p>
      <p style= "font-family:Impact, Charcoal, sans-serif; font-size: 2.0em;color:white;padding-top:200px;">These cookies are our premium sweet marshmallow vanilla cream cheese.</br>Every cookie is made fresh upon arrival. Selling at $34 per dozen cookies.</br>Allergies and vegan options are also available for an extra $28.</p>
<img src="https://cleobuttera.com/wp-content/uploads/2017/12/stack-RV-w.jpg"style="height:530px; width:500px; padding-left:40px;padding-top:18px; border-radius:40%;border:8px solid maroon">

    </div>
  </body>
</html>
