<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <ul>
  <li><a class="active" href="/index">Home</a></li>
  <li><a href="/cookies">Cookies</a></li>
  <li><a href="/cakes">Cakes</a></li>
  <li><a href="/muffin">Muffins</a></li>
  <li><a href="Storest">Stores Near You</a></li>
  <li><a href="#contact">Contact</a></li>
  <p class="name" >BY: Xaiver Thyme</p>

</ul>

    <h1>The sixth sick sheikh’s sixth sheep’s sick Bakery </h1>
    <p>Say our name 10x super fast to recieve a free cupcake.</p>
    <!-- <form action="nil" method="POST">
  <input name="nil"  />
  <button>Search</button>
</form> -->
<img class= "icon" src="https://yourpie.com/wp-content/uploads/2018/09/careers-icon.png" alt="">

  </body>
</html>
