<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body background="https://wallpapercave.com/wp/ADNUWPo.jpg">

    <ul>
  <li><a class="active" href="/index">Home</a></li>
  <li><a href="/cookies">Cookies</a></li>
  <li><a href="/cakes">Cakes</a></li>
  <li><a href="/muffin">Muffins</a></li>
  <li><a href="stores">Stores Near You</a></li>
  <p class="name" >BY: Xaiver Thyme</p>

</ul>

    <h1 style="color:white;font-size:2.5em;">The sixth sick sheikh’s sixth sheep’s sick Red Velvet Bakery </h1>
    <!-- <form action="nil" method="POST">
  <input name="nil"  />
  <button>Search</button>
</form> -->
<!-- <img class= "icon" src="https://yourpie.com/wp-content/uploads/2018/09/careers-icon.png" alt=""> -->

<p style= "font-family:Impact, Charcoal, sans-serif; font-size: 2.0em;color:white;">Our products are mesmerizingly good. Try it to believe it.<img class ="dj" src="https://media1.giphy.com/media/iYHfmxwgh9le0/giphy.gif"style="border:8px solid maroon;">Our pastry chefs were personally trained by Havier Ramsay.</p>

  </body>
</html>
