<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body background="https://wallpapercave.com/wp/ADNUWPo.jpg">
    <ul>
  <li><a class="active" href="/index">Home</a></li>
  <li><a href="/cookies">Cookies</a></li>
  <li><a href="/cakes">Cakes</a></li>
  <li><a href="/muffin">Muffins</a></li>
  <li><a href="/stores">Stores Near You</a></li>

  <p class="name" >BY: Xaiver Thyme</p>

</ul>
    <h1>Muffins</h1>

    <div class="muffin_layout">
      <img src="https://i.pinimg.com/736x/8a/2c/74/8a2c74169fb2625111a46dfc2fff0f7d.jpg"style="width:60%;border-radius:40%;border:8px solid maroon;padding-left:40px;">
      <p style= "font-family:Impact, Charcoal, sans-serif; font-size: 2.0em;color:white;padding-right:200px;padding-top:200px;">Our soft red velvet muffins were perfectly crafted based off Havier Gordon's secret recipe.</p>
      <p  style= "font-family:Impact, Charcoal, sans-serif; font-size: 2.0em;color:white;padding-top:200px;">The golden velvet dragon is our 14k golden sprinkled red velvet muffin.</br> Each muffin cost $1,200, it is so good it'll make you bankrupt.</p>

      <img src="https://i.pinimg.com/originals/9d/d3/b4/9dd3b4cbd000e8a87d27059c8d0c473a.jpg"style="width:60%;border-radius:40%;border:8px solid maroon; padding-left:100px;">
    </div>

  </body>border-radius:40%;border:8px solid maroon;
</html>
